
<article class="vpn">
    <div class="container-fluid tieude d-flex align-items-center justify-content-center">
        <h1>{{danhmuc|uppercase}}</h1>
    </div>
    <div class="row text-center p-4">
        <div class="col-lg-4 col-6">
            <b>Sắp xếp theo:</b>
            <select class="bg-black text-white p-2 rounded-4" ng-model="sapxeptheo" ng-change="sapxep1()" name="" id="">
                <option value="0" selected>Mặc định</option>
                <option value="1">Giá giảm dần</option>
                <option value="2">Giá tăng dần</option>s
                <option value="3">Chữ cái A-Z</option>
                <option value="4">Chữ cái Z-A</option>
            </select>
        </div>
        <div class="col-lg-4 col-6">
            <b>Đánh giá: </b>
            <select ng-model="danhgia" ng-change="sapxep2()" class="bg-black p-2 rounded-4 text-warning" name="" id="">
                <option value="0" selected>All</option>
                <option class="text-warning" value="1">
                    &#9733; &#9733; &#9733; &#9733; &#9733;
                </option>
                <option value="2">
                    &#9733; &#9733; &#9733; &#9733;
                </option>
                <option value="3">
                    &#9733; &#9733; &#9733; 
                </option>
                <option value="4">
                    &#9733; &#9733; 
                </option>
                <option value="5">
                    &#9733; 
                </option>
            </select>
        </div>
    </div>
    <!-- Sản phẩm -->
    <div class="row text-center m-2">
        <div ng-repeat="s in listsp | filter: {loai: danhmuc, danhgia: sosao} | orderBy: sapxep | limitTo: pageSize : start" class="col-md-3 col-lg-2 col-sm-4 col-6 p-2 product">
            <div>
                <label ng-if="s.hot==1" class="badge bg-danger position-absolute m-3">HOT</label>
                <img class="w-100" ng-src="{{s.anh}}" alt="">
                <h5>{{s.tensp}}</h5>
                <div class="rating text-warning">
                    <i ng-repeat="star in [].constructor(s.danhgia) track by $index" class="bi bi-star-fill"> </i>
                </div>
                <b class="text-info">{{s.gia|number}}VNĐ</b>
                <!-- Nút khi hover -->
                <div class="product-button">
                    <button ng-click="themVaoGio(s.id,s.anh,s.tensp,s.gia)" class="btn btn-primary overlay-buttons">Thêm vào giỏ hàng</button>
                    <a href="#!sanpham/{{danhmuc}}/{{s.id}}" class="btn btn-light overlay-buttons">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" ng-click="phantrang(1)">First</a>
        </li>
        <li class="page-item" ng-repeat="page in getPages()" ng-class="{ 'active': currentPage === page }">
            <a class="page-link" ng-click="phantrang(page)">{{page}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" ng-click="phantrang(pageCount)">Last</a>
        </li>
    </ul>
    
    
</article>

